* {
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slider {
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-slider > a {
  position: absolute;
  top: 165px;
  font-size: 30px;
  padding: 5px;
  color: rgb(241, 241, 241);
  transition: 0.3s;
}

.image-slider > a:hover {
  background: rgb(50, 50, 50, 0.5);
}

#next-image-btn {
  right: 0px;
}

.current-image {
  background: whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  height: 400px;
  width: 600px;
  object-fit: cover;
  transition: 1s;
}

.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.dot {
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: darkgray;
  transition: 0.3s;
}

.dot:hover,
.dot-active {
  background: rgb(88, 88, 88);
}
